/* shared styles */
.body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.padding{
    padding-left: 140px;
    padding-right: 140px;
}
/* -------------------------------------------------------------- */





/* banner styles */
.banner {
    margin-top: 50px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    color: #FFF;
    text-align: center;
}
.banner-title {
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 117px 530px 0px;
    margin-bottom: 0px;
}
.banner-highlight {
   margin-top: 10px;
   font-size: 72px;
   font-weight: 900;
   font-family: Merriweather;
   line-height: 95px;
   padding: 0px 340px 117px;
}
/* --------------------------------------------------------------- */