/* shared styles */
.body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}
.padding{
    margin-left: 140px;
    margin-right: 140px;
}
/* -------------------------------------------------------------- */





/* banner styles */
.banner {
    margin-top: 50px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 485px;
    background-size: contain;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
}
.banner-title {
    font-size: 22px;
    font-weight: 400;
    font-family: Merriweather;
    padding-top: 117px;
    margin-bottom: 0px;
}
.banner-highlight {
   margin-top: 6px;
   font-size: 50px;
   font-weight: 900;
   font-family: Merriweather;
   line-height: 75px;

}
/* --------------------------------------------------------------- */


/* styles about discount */
.discount {
    text-align: center;
    font-family: Inter;
}
.discount-title {
    color: #F00;
    margin-bottom: 120px auto 48px;
    font-size: 80px;
    font-weight: 700;
}
.discount-description {
    color: #F00;
   margin-top: 0px;
   margin-bottom: 15px;
   font-size: 24px;
   font-weight: 500;

}
.discount-category {
    margin-top: 0px;
    color: #070211;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

